@font-face {
  font-family: "CalibreM";
  src: url("~assets/font/Calibre-Medium.8ff6de74.ttf");
}

@font-face {
  font-family: "Gotham";
  src: url("~assets/font/Gotham.woff") format("woff");
}

@font-face {
  font-family: "Futwora";
  src: url("~assets/font/Gotham.woff") format("woff");
}
