
html {
  font-family: "Gotham", "Source Sans Pro", -apple-system, Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  background: #0c0d17;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

//===========
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
}

@media(min-width: 510px) {
  .container {
    align-items: center;
  }
}

$breakpointList: (
        r1: (510px, (4, 8)),
        r2: (414px, (4, 6)),
        r3: (411px, (4, 6)),
        r4: (375px, (4, 6)),
        r5: (360px, (4, 6)),
        r6: (320px, (4, 6)),
) !default;

@each $bp in $breakpointList {
  $width-device: nth($bp, 1);
  @media(max-width: $width-device) {
    .container {
      width: $width-device;
      align-items: normal;
    }
  }
}
