$bal_light_color: #f6ba5e;
$bal_white_color: #ffebce;
$bal_dark_l1_color: #1e2334;
$bal_dark_l2_color: #0c0d17;
$bal_dark_l3_color: #374160;
$bal_dark_l3a_color: #37416073;
$bal_dark_l4_color: #495479;
$bal_dark_l5_color: #6f6e84;
